# MongoDB connection string (local ya MongoDB Atlas dono chalega)
MONGO_URI=mongodb://127.0.0.1:27017/student_management

# Login credentials (Dashboard access ke liye)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Session secret (koi bhi random string daal do)
SESSION_SECRET=yourSuperSecretKey123

# Server port
PORT=3000
